    .status{
        display: block;
    }

    .table-responsive a{
        color: #0398dc !important;
    }

    .potm-content {
          padding: 10px;
          display: flex;
          align-items: center;
          position: relative;
        }
        .potm-image {
          width: 90px;
          height: 90px;
          border-radius: 30%;
          overflow: hidden;
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
          border: 0px solid white;
          position: relative;
          z-index: 1;
          margin-right: 20px;
          transition: transform 0.3s ease;
          background: linear-gradient(145deg, var(--c1) 10%, var(--c2) 70%);
        }
        .potm-image img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .potm-details {
          flex: 1;
        }
        .potm-name {
      font-size: 16px;
      font-weight: 600;
      color: var(--dark);
      margin-bottom: 5px;
    }
        .potm-team {
      color: var(--dark);
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    .team-logo {
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }
        .potm-stats {
      display: flex;
      gap: 15px;
      margin-top: 15px;
    }
        .stat-item {
      background: var(--light);
      padding: 5px 15px;
      border-radius: 8px;
      text-align: center;
      flex: 1;
      transition: all 0.3s ease;
    }
    /*
    .stat-item:hover {
      background: var(--primary);
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(58, 134, 255, 0.3);
    }

    .stat-item:hover .stat-value {
      color: white;
    }*/

    .stat-label {
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      opacity: 0.7;
      margin-bottom: 3px;
    }

    .stat-value {
      font-size: 14px;
      font-weight: 600;
      color: var(--dark);
    }
        .potm-name a{
        color: #0398dc !important;
    }
    .table-responsive::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.table-responsive::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table-responsive:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}